.a-banners {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  @media (max-width: 991px) {
    margin: -10px 0;
  }
  @media (max-width: 767px) {
    margin: -5px 0;
  }
}

.a-banner {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  min-height: 346px;
  transition: .3s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgba(22, 40, 51, 0.25);
    transition: .3s ease-in-out;
  }

  @media (max-width: 991px) {
    margin: 10px 0;
  }
  @media (max-width: 767px) {
    margin: 5px 0;
    min-height: 268px;
  }

  &:after {
    content: '';
    display: block;
    width: 21px;
    height: 17px;
    position: absolute;
    right: 46px;
    bottom: 35px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyMiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjUgOUwxMi43NSAwLjI1TDExIDJMMTUuNTkzOCA2LjU5Mzc1TDE3LjEyNSA3LjkwNjI1TDEzLjYyNSA3LjY4NzVIMC41VjEwLjMxMjVIMTMuNjI1TDE3LjEyNSAxMC4wOTM4TDE1LjU5MzggMTEuNDA2MkwxMSAxNkwxMi43NSAxNy43NUwyMS41IDlaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 767px) {
      width: 15px;
      height: 13px;
      position: absolute;
      right: 32px;
      bottom: 28px;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @media (max-width: 767px) {
      padding: 25px 30px;
    }
  }

  &__title {
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    color: $white;
    margin-bottom: 1px;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    color: $white;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__highlited {
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $white;
    background: linear-gradient(90deg, $template-orange 20%, $template-blue 90%);
    padding: 6px 16px;
    margin-top: 12px;
    border-radius: 5px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 17px;
      padding: 4px 10px;
    }
  }

  &--small {
    flex-basis: calc(40% - 20px);
    max-width: calc(40% - 20px);
    @media (max-width: 1199px) {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    @media (max-width: 991px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &--large {
    flex-basis: calc(60% - 20px);
    max-width: calc(60% - 20px);
    @media (max-width: 1199px) {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    @media (max-width: 991px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}