.main-slogan {
  position: relative;
  padding: 36px 0;
  overflow: hidden;
  margin-bottom: 58px;
  @media (max-width: 767px) {
    padding: 10px 0;
    margin-bottom: 17px;
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: calc(50% - 760px);
    transform: translateY(-50%);
    width: 100%;
    @media (max-width: 767px) {
      top: 0;
      left: calc(50% - 265px);
      transform: none;
    }

    img {
      max-width: none;
      @media (max-width: 767px) {
        width: 520px;
        height: auto;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #1B1B1B;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 34px;
    }
  }
}