.product-card-main {
  padding: 48px 0 80px;
  @media (max-width: 767px) {
    padding: 15px 0 80px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__gallery {
    flex-basis: 720px;
    max-width: 720px;
    margin-right: 30px;
    display: flex;
    position: sticky;
    top: 157px;
    @media (max-width: 1199px) {
      flex-basis: 60%;
      max-width: 60%;
    }
    @media (max-width: 991px) {
      flex-basis: auto;
      max-width: 100%;
      position: static;
      margin-right: 0;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 37px;
    }
  }

  &__video-link {
    position: absolute;
    color: $template-orange;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;

    .play-btn {
      margin-left: 10px;
      fill: $template-orange;
      position: relative;
      bottom: 1px;
    }
    @media (max-width: 991px) {
      right: 20px;
    }
  }

  &__gallery-box {
    flex-basis: 114px;
    max-width: 114px;
    margin-right: 20px;
    @media (max-width: 767px) {
      max-width: 100%;
      flex-basis: auto;
      order: 1;
      margin-right: 0;
    }
  }

  &__thumb-slider-box {
    position: relative;
  }

  &__thumb-slider-qty {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      display: none;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $template-medium-gray;
    }
  }

  &__thumbs-slider {
    width: 114px;
    height: 486px;
    overflow: hidden;
    @media (max-width: 767px) {
      width: 100%;
      height: 100px;
      max-width: 320px;
    }
  }

  &__thumbs-slider-wrapper {
    flex-direction: column;
    @media (max-width: 767px) {
      flex-direction: row;
    }
  }

  &__thumb-slide {
    width: 114px;
    height: 102px;
    border: 1px solid $border-gray;
    border-radius: 5px;
    overflow: hidden;
    @media (max-width: 767px) {
      width: 100px;
      height: 100px;
    }

    &.swiper-slide-thumb-active {
      border-color: $template-dark-gray;
    }

    &--video {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }

      .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        .icon {
          width: 32px;
          height: 32px;
          fill: $white;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__arrow {
    width: 34px;
    height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: $white;
    border-radius: 5px;
    border: 1px solid $template-dark-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 767px) {
      transform: translateY(-50%);
      width: 30px;
      height: 30px;

    }

    &:hover {
      @media (min-width: 1200px) {
        background: $orange-gradient;
        border-color: $transparent;
      }
    }

    .icon {
      fill: $black;
    }

    &--prev {
      top: -12px;
      @media (max-width: 767px) {
        top: 50%;
        left: -15px;
      }

      .icon {
        transform: rotate(-90deg);
        @media (max-width: 767px) {
          transform: rotate(-180deg);
        }
      }
    }

    &--next {
      bottom: -12px;
      @media (max-width: 767px) {
        top: 50%;
        bottom: auto;
        left: auto;
        right: -15px;
      }

      .icon {
        transform: rotate(90deg);
        @media (max-width: 767px) {
          transform: rotate(0);
        }
      }
    }
  }

  &__main-slider {
    flex-basis: 586px;
    max-width: 586px;
    overflow: hidden;
    @media (max-width: 767px) {
      max-height: 380px;
      margin-bottom: 20px;
      max-width: 100%;
      flex-basis: auto;
    }
  }

  .product-first-video {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 557px;
    @media (max-width: 767px) {
      max-height: 380px;
    }
  }

  &__main-slide {
    position: relative;
    @media (max-width: 767px) {
      height: 380px;
    }

    img {
      object-fit: contain;
      @media (max-width: 767px) {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }

    .play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      .icon {
        width: 60px;
        height: 60px;
        fill: $white;
      }
    }
  }

  &__content {
    flex-basis: 510px;
    max-width: 510px;
    @media (max-width: 1199px) {
      flex-basis: 40%;
      max-width: 40%;
    }
    @media (max-width: 991px) {
      flex-basis: auto;
      max-width: 100%;
    }
  }

  &__product-number-box {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__product-number {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: $template-medium-gray;
    margin-right: 20px;
  }

  &__in-stock {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: $template-blue;
    background: $template-light-blue;
    border-radius: 3px;
    padding: 2px 6px 2px 18px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 8px;
      width: 3px;
      height: 5px;
      border-right: 1px solid $template-blue;
      border-bottom: 1px solid $template-blue;
      transform: rotate(45deg);
    }
  }

  &__name {
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: $template-dark-gray;
    margin-bottom: 12px;

    @media (max-width: 991px) {
      text-align: center;
      align-self: center;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  &__inner-container {
    max-width: 402px;
    width: 100%;
  }

  &__info-box {
    background: $template-light-blue;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 12px;
    @media (max-width: 767px) {
      padding: 15px 10px;
    }
  }

  &__rating-testimonials-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .rating-box {
    flex-basis: 160px;
    max-width: 160px;
  }

  &__info-box-testimonials {
    display: flex;
    align-items: center;

    & > span {
      font-size: 12px;
      line-height: 17px;
      color: $template-medium-gray;
      margin-right: 10px;
    }
  }

  &__info-box-testimonials-link {
    display: flex;
    align-items: center;

    .icon {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: $template-dark-gray;
      text-decoration: underline;
    }
  }

  &__properties {
    margin-bottom: 15px;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__property {
    font-size: 14px;
    line-height: 20px;
    color: $template-medium-gray;
    flex-basis: 160px;
    max-width: 160px;
  }

  &__property-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $template-dark-gray;
  }

  &__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price-old {
    font-size: 20px;
    line-height: 28px;
    color: #878787;
    margin-right: 5px;
    text-decoration: line-through;
    white-space: nowrap;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $template-dark-gray;
    margin-right: 5px;
    white-space: nowrap;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__sale {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: $template-dark-gray;
    padding: 4px 9px;
    background: $orange-gradient;
    border-radius: 3px;
  }

  &__credit-box {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 2px;
    padding: 3px 15px 3px 5px;

    span {
      font-size: 10px;
      line-height: 12px;
      color: $template-dark-gray;
    }
  }

  &__credit-box-price {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $template-blue;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: $template-dark-gray;
    margin-bottom: 7px;
  }

  &__colors {
    display: inline-flex;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__color {
    position: relative;

    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &:checked {
        + label {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    label {
      width: 40px;
      height: 25px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: "";
        display: block;
        width: 6px;
        height: 10px;
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(45deg);
        position: relative;
        bottom: 2px;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__sizes {
    margin-bottom: 36px;
  }

  &__size-item {
    position: relative;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &:checked + label {
        background-color: $template-blue;
        border-color: $template-blue;

        .product-card-main {
          &__size-values {
            color: $white;
          }

          &__size-old-price {
            color: rgba(255, 255, 255, 0.43);
          }

          &__size-price {
            color: $white;
          }

          &__size-credit {
            color: rgba(255, 255, 255, 0.43);
          }
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      padding: 7px 12px;
      border: 1px dashed $border-gray;
      border-radius: 5px;
      cursor: pointer;
      @media (max-width: 767px) {
        padding: 7px 8px;
      }
    }
  }

  &__size-star {
    width: 12px;
    height: 12px;
    margin-right: 11px;
    @media (max-width: 767px) {
      margin-right: 5px;
    }

    .icon {
      width: 12px;
      height: 12px;
      fill: #ffb887;
      position: relative;
      bottom: 1px;
    }
  }

  &__size-values {
    font-size: 14px;
    line-height: 20px;
    color: $template-black;
    margin-right: auto;
    @media (max-width: 767px) {
      font-size: 13px;
    }
  }

  &__size-credit {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    margin-right: 20px;
    color: $template-black;
    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }

  &__size-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $template-black;
  }

  &__size-sale {
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: $template-black;
    padding: 2px 7px;
    border-radius: 3px;
    background: $orange-gradient;
    margin-right: 10px;
  }

  &__size-old-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: $template-black;
    margin-right: 17px;
    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }

  &__to-cart {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $template-dark-gray;
    padding: 14px 21px;
    display: flex;
    align-items: center;
    border: 5px solid #F8B46E;
    border-radius: 9px;
    margin-bottom: 10px;

    &:hover {
      background: $orange-gradient;

      .icon {
        fill: $template-dark-gray;
      }
    }

    &.active {
      background-color: $template-blue;
      color: $white;
      border-color: $template-light-blue;

      .icon {
        fill: $white;
      }

      &:hover {
        background: $template-blue;
      }

      .icon {
        fill: $white;
      }
    }

    .icon {
      fill: $mild-orange;
      margin-left: auto;
      width: 40px;
      height: 16px;
    }
  }

  &__btn-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__one-click {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $template-dark-gray;
    padding: 13px 32px 13px 26px;
    border-radius: 5px;
    border: 1px solid $template-dark-gray;
    cursor: pointer;
    margin-right: 25px;
    @media (max-width: 1199px) {
      padding: 13px 25px;
      margin-right: 8px;
    }
    @media (max-width: 767px) {
      padding: 13px 20px;
    }

    &:hover {
      background: $orange-gradient;
      border-color: $transparent;
    }

    .icon {
      width: 14px;
      height: 14px;
      margin-left: 50px;
      flex-shrink: 0;
      @media (max-width: 1199px) {
        margin-left: 30px;
      }
      @media (max-width: 1199px) {
        margin-left: 15px;
      }
    }
  }

  &__btn-box-inner {
    display: flex;
  }

  &__to-favourite {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $template-dark-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
      background: $orange-gradient;
      border-color: $transparent;
    }

    &.active {
      background: rgba(255, 223, 197, 0.66);
      border-color: $transparent;

      .icon {
        fill: $mild-orange;
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      fill: $template-dark-gray;
    }
  }

  &__share {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $template-dark-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: $orange-gradient;
      border-color: $transparent;
    }

    .icon {
      width: 20px;
      height: 20px;
      fill: $mild-orange;
    }

    .ya-share2__link_more-button-type_short {
      background-color: $transparent !important;
    }
  }

  &__ask-coach-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__for-coaches {
    font-size: 14px;
    line-height: 20px;
    color: $template-medium-gray;
    cursor: pointer;
  }

  &__ask {
    font-size: 14px;
    line-height: 20px;
    color: $template-medium-gray;
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon {
      width: 13px;
      height: 13px;
      margin-right: 7px;
    }
  }
}