include ../mixins/mixins

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Filippov NEW
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="styles/additional.min.css")
    body
        block header
            include ../components/header
        block content
            main.main-wrapper.additional-page
                section.top-10-products
                    ._container.container
                        h2.h2.-with-highlight #[span.highlighted ТОП-10] популярных снарядов FILIPPOV DYNASTY 2022
                        .product-slider-redesign
                            ._box.js-product-slider-redesign
                                ._wrapper.swiper-wrapper
                                    .product-preview.swiper-slide
                                        a(href="#")._img
                                            +picture('product-slider', 'png', 330, 360)
                                        ._content
                                            ._top-box
                                                .rating-box
                                                    .rating-stars.js-stars(data-rating="4.6")
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                    ._rating 4.6
                                                ._favourite.js-active-toggle
                                                    +icon('heart')
                                            ._middle-box
                                                ._assortment-item Размеры - 4
                                                ._assortment-item цвета - 3
                                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                            ._bottom-box
                                                ._price-box
                                                    ._old-price от 16 800₽
                                                    ._price от 14 150₽
                                                ._add-to-cart.js-open-picker
                                                    +icon('cart')
                                            a(href="#")._link
                                                span Смотреть
                                                +icon('product-slider-arrow')
                                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                                            +icon('arrows-multiple')
                                        .color-size-picker
                                            ._close.js-close
                                                +icon('cross')
                                            form
                                                ._box
                                                    ._title Выберите цвет:
                                                    ._items
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #e90000")
                                                            ._item-name Красный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #353535")
                                                            ._item-name Чёрный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #B0B0B0")
                                                            ._item-name Серый
                                                            input(type="radio" name="colors")
                                                ._box
                                                    ._title Выберите размер:
                                                    ._items
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 2кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 3кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 4кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 5кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                .common-btn-wrapper-redesign
                                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                                    .product-preview.swiper-slide
                                        a(href="#")._img
                                            +picture('product-slider', 'png', 330, 360)
                                        ._content
                                            ._top-box
                                                .rating-box
                                                    .rating-stars.js-stars(data-rating="4.6")
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                    ._rating 4.6
                                                ._favourite.js-active-toggle
                                                    +icon('heart')
                                            ._middle-box
                                                ._assortment-item Размеры - 4
                                                ._assortment-item цвета - 3
                                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                            ._bottom-box
                                                ._price-box
                                                    ._old-price от 16 800₽
                                                    ._price от 14 150₽
                                                ._add-to-cart.js-open-picker
                                                    +icon('cart')
                                            a(href="#")._link
                                                span Смотреть
                                                +icon('product-slider-arrow')
                                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                                            +icon('arrows-multiple')
                                        .color-size-picker
                                            ._close.js-close
                                                +icon('cross')
                                            form
                                                ._box
                                                    ._title Выберите цвет:
                                                    ._items
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #e90000")
                                                            ._item-name Красный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #353535")
                                                            ._item-name Чёрный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #B0B0B0")
                                                            ._item-name Серый
                                                            input(type="radio" name="colors")
                                                ._box
                                                    ._title Выберите размер:
                                                    ._items
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 2кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 3кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 4кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 5кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                .common-btn-wrapper-redesign
                                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                                    .product-preview.swiper-slide
                                        a(href="#")._img
                                            +picture('product-slider', 'png', 330, 360)
                                        ._content
                                            ._top-box
                                                .rating-box
                                                    .rating-stars.js-stars(data-rating="4.6")
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                    ._rating 4.6
                                                ._favourite.js-active-toggle
                                                    +icon('heart')
                                            ._middle-box
                                                ._assortment-item Размеры - 4
                                                ._assortment-item цвета - 3
                                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                            ._bottom-box
                                                ._price-box
                                                    ._old-price от 16 800₽
                                                    ._price от 14 150₽
                                                ._add-to-cart.js-open-picker
                                                    +icon('cart')
                                            a(href="#")._link
                                                span Смотреть
                                                +icon('product-slider-arrow')
                                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                                            +icon('arrows-multiple')
                                        .color-size-picker
                                            ._close.js-close
                                                +icon('cross')
                                            form
                                                ._box
                                                    ._title Выберите цвет:
                                                    ._items
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #e90000")
                                                            ._item-name Красный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #353535")
                                                            ._item-name Чёрный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #B0B0B0")
                                                            ._item-name Серый
                                                            input(type="radio" name="colors")
                                                ._box
                                                    ._title Выберите размер:
                                                    ._items
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 2кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 3кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 4кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 5кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                .common-btn-wrapper-redesign
                                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                                    .product-preview.swiper-slide
                                        a(href="#")._img
                                            +picture('product-slider', 'png', 330, 360)
                                        ._content
                                            ._top-box
                                                .rating-box
                                                    .rating-stars.js-stars(data-rating="4.6")
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                    ._rating 4.6
                                                ._favourite.js-active-toggle
                                                    +icon('heart')
                                            ._middle-box
                                                ._assortment-item Размеры - 4
                                                ._assortment-item цвета - 3
                                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37 Напольный мешок-имитатор «onePRO FILIPPOV» Ø37 «onePRO FILIPPOV» Ø37
                                            ._bottom-box
                                                ._price-box
                                                    ._old-price от 16 800₽
                                                    ._price от 14 150₽
                                                ._add-to-cart.js-open-picker
                                                    +icon('cart')
                                            a(href="#")._link
                                                span Смотреть
                                                +icon('product-slider-arrow')
                                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                                            +icon('arrows-multiple')
                                        .color-size-picker
                                            ._close.js-close
                                                +icon('cross')
                                            form
                                                ._box
                                                    ._title Выберите цвет:
                                                    ._items
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #e90000")
                                                            ._item-name Красный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #353535")
                                                            ._item-name Чёрный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #B0B0B0")
                                                            ._item-name Серый
                                                            input(type="radio" name="colors")
                                                ._box
                                                    ._title Выберите размер:
                                                    ._items
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 2кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 3кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 4кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 5кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                .common-btn-wrapper-redesign
                                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                                    .product-preview.swiper-slide
                                        a(href="#")._img
                                            +picture('product-slider', 'png', 330, 360)
                                        ._content
                                            ._top-box
                                                .rating-box
                                                    .rating-stars.js-stars(data-rating="4.6")
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                    ._rating 4.6
                                                ._favourite.js-active-toggle
                                                    +icon('heart')
                                            ._middle-box
                                                ._assortment-item Размеры - 4
                                                ._assortment-item цвета - 3
                                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                            ._bottom-box
                                                ._price-box
                                                    ._old-price от 16 800₽
                                                    ._price от 14 150₽
                                                ._add-to-cart.js-open-picker
                                                    +icon('cart')
                                            a(href="#")._link
                                                span Смотреть
                                                +icon('product-slider-arrow')
                                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                                            +icon('arrows-multiple')
                                        .color-size-picker
                                            ._close.js-close
                                                +icon('cross')
                                            form
                                                ._box
                                                    ._title Выберите цвет:
                                                    ._items
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #e90000")
                                                            ._item-name Красный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #353535")
                                                            ._item-name Чёрный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #B0B0B0")
                                                            ._item-name Серый
                                                            input(type="radio" name="colors")
                                                ._box
                                                    ._title Выберите размер:
                                                    ._items
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 2кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 3кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 4кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 5кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                .common-btn-wrapper-redesign
                                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                                    .product-preview.swiper-slide
                                        a(href="#")._img
                                            +picture('product-slider', 'png', 330, 360)
                                        ._content
                                            ._top-box
                                                .rating-box
                                                    .rating-stars.js-stars(data-rating="4.6")
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                        ._star
                                                            +icon('empty-star')
                                                    ._rating 4.6
                                                ._favourite.js-active-toggle
                                                    +icon('heart')
                                            ._middle-box
                                                ._assortment-item Размеры - 4
                                                ._assortment-item цвета - 3
                                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                            ._bottom-box
                                                ._price-box
                                                    ._old-price от 16 800₽
                                                    ._price от 14 150₽
                                                ._add-to-cart.js-open-picker
                                                    +icon('cart')
                                            a(href="#")._link
                                                span Смотреть
                                                +icon('product-slider-arrow')
                                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                                            +icon('arrows-multiple')
                                        .color-size-picker
                                            ._close.js-close
                                                +icon('cross')
                                            form
                                                ._box
                                                    ._title Выберите цвет:
                                                    ._items
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #e90000")
                                                            ._item-name Красный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #353535")
                                                            ._item-name Чёрный
                                                            input(type="radio" name="colors")
                                                        label._color.js-only-active-toggle
                                                            ._color-circle(style="background-color: #B0B0B0")
                                                            ._item-name Серый
                                                            input(type="radio" name="colors")
                                                ._box
                                                    ._title Выберите размер:
                                                    ._items
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 2кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 3кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 4кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                        label._size.js-only-active-toggle
                                                            ._size-cb-dummy
                                                            ._item-name 5кг / Ø25см
                                                            input(type="radio" name="sizes")
                                                .common-btn-wrapper-redesign
                                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                                ._arrow.-prev
                                    +icon('slider-arrow')
                                ._arrow.-next
                                    +icon('slider-arrow')
                        .common-btn-wrapper-redesign
                            a(href="#").common-btn-redesign.-center На страницу рейтинга
        block footer
            include ../components/footer
        block modals
            include ../components/modals/geo-modal
            include ../components/modals/credit-modal
            include ../components/modals/for-coaches-modal
            include ../components/modals/quick-order-modal
            include ../components/modals/quick-view-modal
            include ../components/modals/add-testimonial-modal
            include ../components/modals/common-modal
            include ../components/modals/ask-modal
            include ../components/modals/common-modal-black

    block scripts
        script(src="scripts/additional_vendor.min.js")
        script(src="scripts/additional.min.js")

