extends ../layout
include ../mixins/mixins

block header
    include ../components/header-with-breads
block content
    .main-wrapper.catalog-page
        section.catalog-top
            ._container.container
                h1.h1 Каталог товаров для единоборств FILIPPOV DYNASTY
        .content-wrapper.catalog-main
            aside.catalog-sidebar
                nav._nav
                    ._box
                        a(href="#")._item Снаряды для отработки ударов
                        a(href="#")._item Снаряды утяжелители
                        a(href="#")._item.-current Одежда и экипировка
                        a(href="#")._item Кронштейны | Стойки | Комплектующие
                        a(href="#")._item Турники | Канаты | Плиобокы
                        a(href="#")._item Напольные покрытия
                    ._box
                        a(href="#")._item Серии FILIPPOV DYNASTY
                        a(href="#")._item Презентация разработок
                    ._box
                        a(href="#")._item Sale
                        a(href="#")._item Outlet
            main.catalog-content
                section.common-section
                    .catalog-previews-box
                        h2.h2 СНАРЯДЫ ДЛЯ ОТРАБОТКИ УДАРОВ
                        .catalog-previews
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-1', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Боксерские мешки
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-2', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Боксёрские груши
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-3', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Борцовские манекены
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-4', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Боксерские подушки
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-5', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Спарринг-партнер FILIPPOV
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-6', 'png', 242, 270)
                                ._content
                                    a(href="#")._name МАКИВАРЫ ЛАПЫ ТАЙПЭДЫ
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                    .catalog-previews-box
                        h2.h2 СНАРЯДЫ-УТЯЖЕЛИТЕЛИ
                        .catalog-previews
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-1', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Боксерские мешки
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-2', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Боксёрские груши
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-3', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Борцовские манекены
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-4', 'png', 242, 270)
                                ._content
                                    a(href="#")._name Боксерские подушки
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                    .catalog-previews-box
                        h2.h2 ОДЕЖДА И ЭКИПИРОВКА
                        .catalog-previews
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-1', 'png', 242, 270)
                                ._content
                                    a(href="#")._name ПЕРЧАТКИ
                                        sup 120
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-2', 'png', 242, 270)
                                ._content
                                    a(href="#")._name СПОРТИВНЫЕ СУМКИ
                                        sup 120
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-3', 'png', 242, 270)
                                ._content
                                    a(href="#")._name СПОРТИВНЫЕ КОСТЮМЫ
                                        sup 120
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                    .catalog-previews-box
                        h2.h2 КРОНШТЕЙНЫ | СТОЙКИ | КОМПЛЕКТУЮЩИЕ
                        .catalog-previews
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-1', 'png', 242, 270)
                                ._content
                                    a(href="#")._name КРОНШТЕЙНЫ
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-2', 'png', 242, 270)
                                ._content
                                    a(href="#")._name УТЯЖЕЛИТЕЛИ ДЛЯ МЕШКОВ
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                            .catalog-preview
                                a(href="#")._img
                                    +picture('catalog-preview-3', 'png', 242, 270)
                                ._content
                                    a(href="#")._name КОМПЛЕКТУЮЩИЕ
                                        sup 120
                                    ._categories
                                        a(href="#")._category Классические боксерские мешки 29
                                        a(href="#")._category Напольные мешки 29
                                        a(href="#")._category Водоналивные мешки 29
                                        a(href="#")._category Набивные (текстильный лоскут) 29
                                    a(href="#")._more
                                        span Смотреть ещё
                                        +icon('product-slider-arrow')
                section.series-new.-monochrome.common-section
                        h2.h2 СЕРИИ
                        ._items.js-swipe-scroll
                            a(href="#")._item
                                ._item-img
                                    +pictureNoWebp('series-1g', 'svg')
                            a(href="#")._item
                                ._item-img
                                    +pictureNoWebp('series-2g', 'svg')
                            a(href="#")._item
                                ._item-img
                                    +pictureNoWebp('series-3g', 'svg')
                            a(href="#")._item
                                ._item-img
                                    +pictureNoWebp('series-4g', 'svg')
                            a(href="#")._item
                                ._item-img
                                    +pictureNoWebp('series-5g', 'svg')
                            a(href="#")._item
                                ._item-img
                                    +pictureNoWebp('series-6g', 'svg')
                section.catalog-presentation-section.common-section
                        h2.h2 ПРЕЗЕНТАЦИИ
                        .catalog-presentation
                            a(href="#")._item
                                ._bg
                                    +picture('catalog-presentation-1', 'png', 329, 457)
                                ._content
                                    ._name СПАРРИНГ-<br>ПАРТНЕР FILIPPOV
                                    ._more
                                        span Подробнее
                                        +icon('product-slider-arrow')
                            a(href="#")._item
                                ._bg
                                    +picture('catalog-presentation-2', 'png', 329, 457)
                                ._content
                                    ._name ВОДОНАЛИВНАЯ<br>ГРУША FILIPPOV
                                    ._more
                                        span Подробнее
                                        +icon('product-slider-arrow')
                section.best-offer.common-section
                        h2.h2 SALE  |  OUTLET
                        .c-banners
                            a(href="#").c-banner
                                ._bg
                                    +pictureAdaptive('c-banner-1', 'png', 650, 300)
                                ._content
                                    ._title FILIPPOV OUTLET
                                    ._text Снаряды из коллекции прошлого года<br>#[span(style="color: #FFDE7D") со скидкой до 60%]
                            a(href="#").c-banner
                                ._bg
                                    +pictureAdaptive('c-banner-2', 'png', 650, 300)
                                ._content
                                    ._title FILIPPOV sale
                                    ._text Успейте купить премиальные снаряды<br>Pro-серии со скидкой

        section.fw-banner
            ._bg
                +picture('fw-banner', 'png')
            ._container.container
                ._content
                    ._title Filippov dynasty
                    ._subtitle  лучшее для профессионального спорта
        section.seo
            ._container.container
                .typography
                    h3.h3 Боксерские мешки от производителя FILIPPOV
                    p Оптимальным вариантом многих тренировок является боксерский мешок, подобранный в соответствии с задачами, стоящими перед бойцом. В разделе представлен обширный ассортимент продукции, которой может воспользоваться как неопытный любитель, так и профессиональный спортсмен с высоким уровнем подготовки.
                    .highlight Оптимальным вариантом многих тренировок является боксерский мешок, подобранный в соответствии с задачами, стоящими перед бойцом. В разделе представлен обширный ассортимент продукции, которой может воспользоваться как неопытный любитель, так и профессиональный спортсмен с высоким уровнем подготовки.
                    h3.h3 Как выбрать боксерский мешок?
                    p Выбирать боксерский мешок необходимо исходя из его веса, размера и наполнения. Легкие экземпляры, вес которых составляет всего 40-50 кг идеально подходят для того, чтобы оттачивать одновременно с техникой удара быстрое маневрирование. Легкая модельная линейка не годится для постановки мощных ударов в процессе тренировки.
                    p Компромиссной моделью способен стать  мешок, весом около 50-70 кг. и размером 130-180см. Он позволяет отрабатывать маневрирование с одновременной отработкой ударов. Если же есть необходимость выкладываться полностью, есть смысл брать мешок, вес которых превышает 80 кг. Подбор по высоте необходимо вести исходя из того, какие именно удары вы будете наносить.
                    .colored Оптимальным вариантом многих тренировок является боксерский мешок, подобранный в соответствии с задачами, стоящими перед бойцом. В разделе представлен обширный ассортимент продукции, которой может воспользоваться как неопытный любитель, так и профессиональный спортсмен с высоким уровнем подготовки.
        section.showrooms
            ._container.container
                ._imgs
                    ._img
                        +picture('showrooms-1', 'png', 362, 247)
                    ._img
                        +picture('showrooms-2', 'png', 362, 247)
                    ._img
                        +picture('showrooms-3', 'png', 362, 247)
                    ._img
                        +picture('showrooms-4', 'png', 362, 247)
            ._contacts
                ._container.container
                    ._items
                        ._item
                            ._title-box
                                +icon('point')
                                ._item-title офис продаж и шоурум в&nbsp;г.&nbsp;Москва
                            a(href="tel:84996480223")._phone 8 (499) 648 02 23
                            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                            ._address г.&nbsp;Москва, ул.&nbsp;5-я кабельная, д.2, ТРК “Спортех” (м.&nbsp;Авиамоторная&nbsp;и&nbsp;МЦК&nbsp;/&nbsp;Нижегородская)
                            ._working-hours Время работы: #[span.txt-orange по звонку]
                        ._item
                            ._title-box
                                +icon('point')
                                ._item-title Спортивный магазин-шоурум в&nbsp;г.пятигорск
                            a(href="tel:84996480223")._phone 8 (499) 648 02 23
                            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                            ._address Ставропольский край, г.&nbsp;Пятигорск, ул.&nbsp;Бунимовича,&nbsp;7 (ТЦ Планета)
                            ._working-hours Время работы: #[span.txt-orange по звонку]
                        ._item
                            ._title-box
                                +icon('point')
                                ._item-title склад в г.Москва
                            a(href="tel:84996480223")._phone 8 (499) 648 02 23
                            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                            ._address г.&nbsp;Москва, ул.&nbsp;5-я кабельная, д.2, ТРК “Спортех” (м.&nbsp;Авиамоторная&nbsp;и&nbsp;МЦК&nbsp;/&nbsp;Нижегородская)
                            ._working-hours Время работы: #[span.txt-orange по звонку]
        section.shipment-destinations
            ._container.container
                h2.h2.-white Куда мы доставляем товары
                ._box
                    ._countries
                        ._country Россия
                        ._country Беларусь
                        ._country Казахстан
                        ._country Армения
                        ._country Таджикистан
                        ._country Узбекистан
                        ._country Киргизия
                        ._country Страны Европы
                    ._cities
                        a._city(href='#') Санкт-Петербург
                            a._city(href='#') Казань
                            a._city(href='#') Екатеринбург
                            a._city(href='#') Челябинск
                            a._city(href='#') Ростов-на-Дону
                            a._city(href='#') Пермь
                            a._city(href='#') Новосибирск
                            a._city(href='#') Нижний Новгород
                            a._city(href='#') Краснодар
                            a._city(href='#') Минск
                            a._city(href='#') Алма-Ата
                            a._city(href='#') Уфа
                            a._city(href='#') Волгоград
                            a._city(href='#') Воронеж
                            a._city(href='#') Владивосток
                            a._city(href='#') Калининград
                            a._city(href='#') Красноярск
                            a._city(href='#') Ставрополь
                            a._city(href='#') Ереван
                            a._city(href='#') Нур-Султан
                .common-btn-wrapper-redesign
                    a(href="#").common-btn-redesign.-center Все города
        section.subscribe-blocks
            .promo-subscribe
                ._inner
                    ._title Подпишитесь на&nbsp;новости&nbsp;и&nbsp;акции
                    form
                        .form-box
                            input(type="email" placeholder="E-mail").input
                            button(type="submit").common-btn-redesign.-yellow Подписаться
                        +form-group-checkbox-allow('cb1', 'Согласие на обработку <a href="#">персональных данных</a>', false, true, 'checkbox-allow', 'label-allow')
            .social-subscribe
                ._title Подписывайтесь на нас в&nbsp;социальных&nbsp;сетях
                ._box
                    ._social-links
                        a(href="#")._social-link
                            +icon('vk')
                        a(href="#")._social-link
                            +icon('yt')
                        a(href="#")._social-link
                            +icon('tg')
                    .made-in
                        +icon('made-in')