extends ../layout
include ../mixins/mixins

block header
    include ../components/header-with-breads
block content
    .main-wrapper.category-page
        section.category-top
            ._container.container
                h1.h1.-with-number Боксерские мешки #[sup.h1__qty 75]
                .catalog-tags.read-more-wrapper.js-read-more-wrapper
                    ._items.read-more-container.js-read-more-container
                        a(href="#")._tag Набивные (текстильный лоскут) #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag.-current Для дома #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Профессиональные боксерские мешки #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Антивандальный ПВХ материал #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Мешок-манекен #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Подвесные #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Подвесные #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Мешок-манекен #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Антивандальный ПВХ материал #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Профессиональные боксерские мешки #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Для дома #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Набивные (текстильный лоскут) #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Набивные (текстильный лоскут) #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Для дома #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Профессиональные боксерские мешки #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Антивандальный ПВХ материал #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Мешок-манекен #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Подвесные #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Набивные (текстильный лоскут) #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Для дома #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Профессиональные боксерские мешки #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Антивандальный ПВХ материал #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Мешок-манекен #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Подвесные #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Подвесные #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Мешок-манекен #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Антивандальный ПВХ материал #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Профессиональные боксерские мешки #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Для дома #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Набивные (текстильный лоскут) #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Набивные (текстильный лоскут) #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Для дома #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Профессиональные боксерские мешки #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Антивандальный ПВХ материал #[sup.catalog-tags__tag-qty (24)]
                        a(href="#")._tag Мешок-манекен #[sup.catalog-tags__tag-qty (45)]
                        a(href="#")._tag Подвесные #[sup.catalog-tags__tag-qty (45)]
                    .read-more-bg
                    ._fold-toggle.read-more-toggle.js-read-more-toggle Развернуть все
        .content-wrapper.category-main
            aside.category-sidebar
                ._categories
                    ._category-mobile-toggle.js-category-mobile-toggle КАТАЛОГ
                            +icon('arrow-down')
                    ._category-items
                        ._category-box
                            ._category.opened
                                a(href="#")._category-name Единоборства
                                ._icon.js-subcategory-toggle
                                    +icon('arrow-down')
                            ._subcategories.opened
                                a(href="#")._subcategory Боксерские мешки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Борцовские манекены #[span.category-sidebar__subcategory-qty 25]
                                a(href="#")._subcategory Боксерские груши #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Спортивная одежда #[span.category-sidebar__subcategory-qty 16]
                                a(href="#")._subcategory Макивары | Лапы | Тайпэды #[span.category-sidebar__subcategory-qty 5]
                                a(href="#")._subcategory Боксерские подушки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Подвесные манекены #[span.category-sidebar__subcategory-qty 77]
                                a(href="#")._subcategory Перчатки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Кронштейны | Стойки | Комплектующие #[span.category-sidebar__subcategory-qty 88]
                                a(href="#")._subcategory Защита тренера #[span.category-sidebar__subcategory-qty 69]
                                a(href="#")._subcategory Спортивные сумки #[span.category-sidebar__subcategory-qty 14]
                        ._category-box
                            ._category.-blue
                                a(href="#")._category-name коллекции
                                ._icon.js-subcategory-toggle
                                    +icon('arrow-down')
                            ._subcategories
                                a(href="#")._subcategory Гелевые мешки и груши GEL FILIPPOV #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Серия DIKO FILIPPOV #[span.category-sidebar__subcategory-qty 25]
                                a(href="#")._subcategory Серия onePRO FILIPPOV #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Серия H2O FILIPPOV #[span.category-sidebar__subcategory-qty 16]
                                a(href="#")._subcategory Серия Street Kick FILIPPOV #[span.category-sidebar__subcategory-qty 5]
                                a(href="#")._subcategory Серия ELITE 1995 FILIPPOV #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Серия ONSERS FILIPPOV #[span.category-sidebar__subcategory-qty 77]
                                a(href="#")._subcategory Серия UNFEAR FILIPPOV #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Напольные мешки и груши #[span.category-sidebar__subcategory-qty 88]
                                a(href="#")._subcategory SMART FIGHT #[span.category-sidebar__subcategory-qty 69]
                                a(href="#")._subcategory OUTLET #[span.category-sidebar__subcategory-qty 14]
                        ._category-box
                            ._category
                                a(href="#")._category-name Кроссфит / Турники / Тренажеры
                                ._icon.js-subcategory-toggle
                                    +icon('arrow-down')
                            ._subcategories
                                a(href="#")._subcategory Боксерские мешки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Борцовские манекены #[span.category-sidebar__subcategory-qty 25]
                                a(href="#")._subcategory Боксерские груши #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Спортивная одежда #[span.category-sidebar__subcategory-qty 16]
                                a(href="#")._subcategory Макивары | Лапы | Тайпэды #[span.category-sidebar__subcategory-qty 5]
                                a(href="#")._subcategory Боксерские подушки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Подвесные манекены #[span.category-sidebar__subcategory-qty 77]
                                a(href="#")._subcategory Перчатки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Кронштейны | Стойки | Комплектующие #[span.category-sidebar__subcategory-qty 88]
                                a(href="#")._subcategory Защита тренера #[span.category-sidebar__subcategory-qty 69]
                                a(href="#")._subcategory Спортивные сумки #[span.category-sidebar__subcategory-qty 14]
                        ._category-box
                            ._category
                                a(href="#")._category-name напольные покрытия
                                ._icon.js-subcategory-toggle
                                    +icon('arrow-down')
                            ._subcategories
                                a(href="#")._subcategory Боксерские мешки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Борцовские манекены #[span.category-sidebar__subcategory-qty 25]
                                a(href="#")._subcategory Боксерские груши #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Спортивная одежда #[span.category-sidebar__subcategory-qty 16]
                                a(href="#")._subcategory Макивары | Лапы | Тайпэды #[span.category-sidebar__subcategory-qty 5]
                                a(href="#")._subcategory Боксерские подушки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Подвесные манекены #[span.category-sidebar__subcategory-qty 77]
                                a(href="#")._subcategory Перчатки #[span.category-sidebar__subcategory-qty 14]
                                a(href="#")._subcategory Кронштейны | Стойки | Комплектующие #[span.category-sidebar__subcategory-qty 88]
                                a(href="#")._subcategory Защита тренера #[span.category-sidebar__subcategory-qty 69]
                                a(href="#")._subcategory Спортивные сумки #[span.category-sidebar__subcategory-qty 14]

            main.category-content
                .mobile-filters.mobile-filters--sort
                    .mobile-filters__tags
                        button.mobile-filters__tags-toggle.js-tags-toggle(type='button')
                            svg.icon.icon-menu
                                +icon('mobile-menu')
                            |  Фильтры
                .product-filters
                    .product-filters__mob-title
                        .product-filters__mob-title-caption Фильтры
                        a.product-filters__clear-all(href='#') Сбросить
                    .product-filters__item
                        button.product-filters__control(type='button')
                            span.product-filters__name Вес
                        .product-filters__list
                            .product-filter-group
                                input#1_0.js_filter(type='checkbox' name='tags[]' value='13')
                                label(for='1_0') 5–20 кг
                            .product-filter-group
                                input#1_1.js_filter(type='checkbox' name='tags[]' value='1')
                                label(for='1_1') 20-30 кг
                            .product-filter-group
                                input#1_2.js_filter(type='checkbox' name='tags[]' value='2')
                                label(for='1_2') 35-55 кг
                            .product-filter-group
                                input#1_3.js_filter(type='checkbox' name='tags[]' value='12')
                                label(for='1_3') 55-60 кг
                            .product-filter-group
                                input#1_4.js_filter(type='checkbox' name='tags[]' value='3')
                                label(for='1_4') 60-70 кг
                            .product-filter-group
                                input#1_5.js_filter(type='checkbox' name='tags[]' value='11')
                                label(for='1_5') 70-80 кг
                            .product-filter-group
                                input#1_6.js_filter(type='checkbox' name='tags[]' value='4')
                                label(for='1_6') 80-95 кг
                            .product-filter-group
                                input#1_7.js_filter(type='checkbox' name='tags[]' value='5')
                                label(for='1_7') 100-120 кг
                    .product-filters__item
                        button.product-filters__control(type='button')
                            span.product-filters__name Диаметр
                        .product-filters__list
                            .product-filter-group
                                input#2_0.js_filter(type='checkbox' name='tags[]' value='17')
                                label(for='2_0') 30 см
                            .product-filter-group
                                input#2_1.js_filter(type='checkbox' name='tags[]' value='14')
                                label(for='2_1') 35 см
                            .product-filter-group
                                input#2_2.js_filter(type='checkbox' name='tags[]' value='15')
                                label(for='2_2') 50 см
                            .product-filter-group
                                input#2_3.js_filter(type='checkbox' name='tags[]' value='6')
                                label(for='2_3') 34 см
                            .product-filter-group
                                input#2_4.js_filter(type='checkbox' name='tags[]' value='7')
                                label(for='2_4') 40 см
                            .product-filter-group
                                input#2_5.js_filter(type='checkbox' name='tags[]' value='8')
                                label(for='2_5') 45 см
                            .product-filter-group
                                input#2_6.js_filter(type='checkbox' name='tags[]' value='9')
                                label(for='2_6') 60 см
                    .form-group.form-group--select.js-sort
                        select#category-sort.product-filters__select.js_filter(name='sort')
                            option(value='hit' selected='') По популярности
                            option(value='price.desc') По убыванию цены
                            option(value='price.asc') По возрастанию цены
                            option(value='discount.desc') Максимальная скидка
                    .product-filters__mob-btn
                        button.product-filters__mob-submit.common-btn-redesign(type='button')
                            | Применить
                .product-preview-box
                    .product-preview
                        ._labels
                            ._label.-orange
                                +icon('percent-lb')
                            ._label.-blue
                                +icon('lightning')
                            ._label.-black OUTLET
                        ._materials
                           ._material
                               +icon('leather')
                               | Кожа
                           ._material
                               +icon('water')
                               | Вода
                        a(href="#")._img
                            +picture('product-slider', 'png', 330, 360)
                            .play-btn
                                +icon('product-play')
                        ._content
                            ._top-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._favourite.js-active-toggle
                                    +icon('heart')
                            ._middle-box
                                ._assortment-item Размеры - 4
                                ._assortment-item цвета - 3
                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                            ._bottom-box
                                ._price-box
                                    ._old-price от 16 800₽
                                    ._price от 14 150₽
                                ._add-to-cart.js-open-picker
                                    +icon('cart')
                            a(href="#")._link
                                span Смотреть
                                +icon('product-slider-arrow')
                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                            +icon('arrows-multiple')
                        .color-size-picker
                            ._close.js-close
                                +icon('cross')
                            form
                                ._box
                                    ._title Выберите цвет:
                                    ._items
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #e90000")
                                            ._item-name Красный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #353535")
                                            ._item-name Чёрный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #B0B0B0")
                                            ._item-name Серый
                                            input(type="radio" name="colors")
                                ._box
                                    ._title Выберите размер:
                                    ._items
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 2кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 3кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 4кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 5кг / Ø25см
                                            input(type="radio" name="sizes")
                                .common-btn-wrapper-redesign
                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                    .product-preview
                        a(href="#")._img
                            +picture('product-slider', 'png', 330, 360)
                        a(href="#")._img.-hidden
                            +picture('hidden', 'png', 330, 360)
                        ._content
                            ._top-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._favourite.js-active-toggle
                                    +icon('heart')
                            ._middle-box
                                ._assortment-item Размеры - 4
                                ._assortment-item цвета - 3
                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                            ._bottom-box
                                ._price-box
                                    ._old-price от 16 800₽
                                    ._price от 14 150₽
                                ._add-to-cart.js-open-picker
                                    +icon('cart')
                            a(href="#")._link
                                span Смотреть
                                +icon('product-slider-arrow')
                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                            +icon('arrows-multiple')
                        .color-size-picker
                            ._close.js-close
                                +icon('cross')
                            form
                                ._box
                                    ._title Выберите цвет:
                                    ._items
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #e90000")
                                            ._item-name Красный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #353535")
                                            ._item-name Чёрный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #B0B0B0")
                                            ._item-name Серый
                                            input(type="radio" name="colors")
                                ._box
                                    ._title Выберите размер:
                                    ._items
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 2кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 3кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 4кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 5кг / Ø25см
                                            input(type="radio" name="sizes")
                                .common-btn-wrapper-redesign
                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                    .product-preview
                        a(href="#")._img
                            +picture('product-slider', 'png', 330, 360)
                        ._content
                            ._top-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._favourite.js-active-toggle
                                    +icon('heart')
                            ._middle-box
                                ._assortment-item Размеры - 4
                                ._assortment-item цвета - 3
                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                            ._bottom-box
                                ._price-box
                                    ._old-price от 16 800₽
                                    ._price от 14 150₽
                                ._add-to-cart.js-open-picker
                                    +icon('cart')
                            a(href="#")._link
                                span Смотреть
                                +icon('product-slider-arrow')
                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                            +icon('arrows-multiple')
                        .color-size-picker
                            ._close.js-close
                                +icon('cross')
                            form
                                ._box
                                    ._title Выберите цвет:
                                    ._items
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #e90000")
                                            ._item-name Красный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #353535")
                                            ._item-name Чёрный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #B0B0B0")
                                            ._item-name Серый
                                            input(type="radio" name="colors")
                                ._box
                                    ._title Выберите размер:
                                    ._items
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 2кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 3кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 4кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 5кг / Ø25см
                                            input(type="radio" name="sizes")
                                .common-btn-wrapper-redesign
                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                    .product-preview
                        a(href="#")._img
                            +picture('product-slider', 'png', 330, 360)
                        ._content
                            ._top-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._favourite.js-active-toggle
                                    +icon('heart')
                            ._middle-box
                                ._assortment-item Размеры - 4
                                ._assortment-item цвета - 3
                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37 Напольный мешок-имитатор «onePRO FILIPPOV» Ø37 «onePRO FILIPPOV» Ø37
                            ._bottom-box
                                ._price-box
                                    ._old-price от 16 800₽
                                    ._price от 14 150₽
                                ._add-to-cart.js-open-picker
                                    +icon('cart')
                            a(href="#")._link
                                span Смотреть
                                +icon('product-slider-arrow')
                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                            +icon('arrows-multiple')
                        .color-size-picker
                            ._close.js-close
                                +icon('cross')
                            form
                                ._box
                                    ._title Выберите цвет:
                                    ._items
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #e90000")
                                            ._item-name Красный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #353535")
                                            ._item-name Чёрный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #B0B0B0")
                                            ._item-name Серый
                                            input(type="radio" name="colors")
                                ._box
                                    ._title Выберите размер:
                                    ._items
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 2кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 3кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 4кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 5кг / Ø25см
                                            input(type="radio" name="sizes")
                                .common-btn-wrapper-redesign
                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                    a(href="#").product-preview-banner
                        ._bg
                            +pictureAdaptive('product-preview-banner', 'png', 328, 651)
                        ._content
                            ._title жилет-утяжитель HARD-TRAINING
                            ._text Тренируйся эффективней
                            +icon('arrow-right')
                    .product-preview
                        a(href="#")._img
                            +picture('product-slider', 'png', 330, 360)
                        ._content
                            ._top-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._favourite.js-active-toggle
                                    +icon('heart')
                            ._middle-box
                                ._assortment-item Размеры - 4
                                ._assortment-item цвета - 3
                            a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                            ._bottom-box
                                ._price-box
                                    ._old-price от 16 800₽
                                    ._price от 14 150₽
                                ._add-to-cart.js-open-picker
                                    +icon('cart')
                            a(href="#")._link
                                span Смотреть
                                +icon('product-slider-arrow')
                        ._quick-view-toggle.js-quick-view Быстрый просмотр
                            +icon('arrows-multiple')
                        .color-size-picker
                            ._close.js-close
                                +icon('cross')
                            form
                                ._box
                                    ._title Выберите цвет:
                                    ._items
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #e90000")
                                            ._item-name Красный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #353535")
                                            ._item-name Чёрный
                                            input(type="radio" name="colors")
                                        label._color.js-only-active-toggle
                                            ._color-circle(style="background-color: #B0B0B0")
                                            ._item-name Серый
                                            input(type="radio" name="colors")
                                ._box
                                    ._title Выберите размер:
                                    ._items
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 2кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 3кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 4кг / Ø25см
                                            input(type="radio" name="sizes")
                                        label._size.js-only-active-toggle
                                            ._size-cb-dummy
                                            ._item-name 5кг / Ø25см
                                            input(type="radio" name="sizes")
                                .common-btn-wrapper-redesign
                                    button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                .pagination-box
                    .common-btn-redesign Показать еще
                    .pagination
                        a(href="#")._item 1
                        ._item.-current 2
                        a(href="#")._item 3
                        a(href="#")._item 4
        section.series-new.common-section
            ._container.container
                h2.h2.-white Серии filippov dynasty
                ._items.js-swipe-scroll
                    a(href="#")._item
                        ._item-img
                            +pictureNoWebp('series-new-1', 'svg')
                        ._item-text Описание серии длинной символов на несколько строк или предложений.
                    a(href="#")._item
                        ._item-img
                            +pictureNoWebp('series-new-2', 'svg')
                        ._item-text Описание серии длинной символов на несколько строк или предложений.
                    a(href="#")._item
                        ._item-img
                            +pictureNoWebp('series-new-3', 'svg')
                        ._item-text Описание серии длинной символов на несколько строк или предложений.
                    a(href="#")._item
                        ._item-img
                            +pictureNoWebp('series-new-4', 'svg')
                        ._item-text Описание серии длинной символов на несколько строк или предложений.
                    a(href="#")._item
                        ._item-img
                            +pictureNoWebp('series-new-5', 'svg')
                        ._item-text Описание серии длинной символов на несколько строк или предложений.
                    a(href="#")._item
                        ._item-img
                            +pictureNoWebp('series-new-6', 'svg')
                        ._item-text Описание серии длинной символов на несколько строк или предложений.
        section.related-products.common-section
            ._container.container
                h2.h2.-with-icon
                    img.icon(src="img/svg/eye.svg")
                    | Просматривают сейчас в других разделах
                .product-slider-redesign
                    ._box.js-product-slider-redesign
                        ._wrapper.swiper-wrapper
                            .product-preview.swiper-slide
                                a(href="#")._img
                                    +picture('product-slider', 'png', 330, 360)
                                ._content
                                    ._top-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._favourite.js-active-toggle
                                            +icon('heart')
                                    ._middle-box
                                        ._assortment-item Размеры - 4
                                        ._assortment-item цвета - 3
                                    a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                    ._bottom-box
                                        ._price-box
                                            ._old-price от 16 800₽
                                            ._price от 14 150₽
                                        ._add-to-cart.js-open-picker
                                            +icon('cart')
                                    a(href="#")._link
                                        span Смотреть
                                        +icon('product-slider-arrow')
                                ._quick-view-toggle.js-quick-view Быстрый просмотр
                                    +icon('arrows-multiple')
                                .color-size-picker
                                    ._close.js-close
                                        +icon('cross')
                                    form
                                        ._box
                                            ._title Выберите цвет:
                                            ._items
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #e90000")
                                                    ._item-name Красный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #353535")
                                                    ._item-name Чёрный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #B0B0B0")
                                                    ._item-name Серый
                                                    input(type="radio" name="colors")
                                        ._box
                                            ._title Выберите размер:
                                            ._items
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 2кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 3кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 4кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 5кг / Ø25см
                                                    input(type="radio" name="sizes")
                                        .common-btn-wrapper-redesign
                                            button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                            .product-preview.swiper-slide
                                a(href="#")._img
                                    +picture('product-slider', 'png', 330, 360)
                                ._content
                                    ._top-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._favourite.js-active-toggle
                                            +icon('heart')
                                    ._middle-box
                                        ._assortment-item Размеры - 4
                                        ._assortment-item цвета - 3
                                    a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                    ._bottom-box
                                        ._price-box
                                            ._old-price от 16 800₽
                                            ._price от 14 150₽
                                        ._add-to-cart.js-open-picker
                                            +icon('cart')
                                    a(href="#")._link
                                        span Смотреть
                                        +icon('product-slider-arrow')
                                ._quick-view-toggle.js-quick-view Быстрый просмотр
                                    +icon('arrows-multiple')
                                .color-size-picker
                                    ._close.js-close
                                        +icon('cross')
                                    form
                                        ._box
                                            ._title Выберите цвет:
                                            ._items
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #e90000")
                                                    ._item-name Красный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #353535")
                                                    ._item-name Чёрный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #B0B0B0")
                                                    ._item-name Серый
                                                    input(type="radio" name="colors")
                                        ._box
                                            ._title Выберите размер:
                                            ._items
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 2кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 3кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 4кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 5кг / Ø25см
                                                    input(type="radio" name="sizes")
                                        .common-btn-wrapper-redesign
                                            button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                            .product-preview.swiper-slide
                                a(href="#")._img
                                    +picture('product-slider', 'png', 330, 360)
                                ._content
                                    ._top-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._favourite.js-active-toggle
                                            +icon('heart')
                                    ._middle-box
                                        ._assortment-item Размеры - 4
                                        ._assortment-item цвета - 3
                                    a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                    ._bottom-box
                                        ._price-box
                                            ._old-price от 16 800₽
                                            ._price от 14 150₽
                                        ._add-to-cart.js-open-picker
                                            +icon('cart')
                                    a(href="#")._link
                                        span Смотреть
                                        +icon('product-slider-arrow')
                                ._quick-view-toggle.js-quick-view Быстрый просмотр
                                    +icon('arrows-multiple')
                                .color-size-picker
                                    ._close.js-close
                                        +icon('cross')
                                    form
                                        ._box
                                            ._title Выберите цвет:
                                            ._items
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #e90000")
                                                    ._item-name Красный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #353535")
                                                    ._item-name Чёрный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #B0B0B0")
                                                    ._item-name Серый
                                                    input(type="radio" name="colors")
                                        ._box
                                            ._title Выберите размер:
                                            ._items
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 2кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 3кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 4кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 5кг / Ø25см
                                                    input(type="radio" name="sizes")
                                        .common-btn-wrapper-redesign
                                            button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                            .product-preview.swiper-slide
                                a(href="#")._img
                                    +picture('product-slider', 'png', 330, 360)
                                ._content
                                    ._top-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._favourite.js-active-toggle
                                            +icon('heart')
                                    ._middle-box
                                        ._assortment-item Размеры - 4
                                        ._assortment-item цвета - 3
                                    a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37 Напольный мешок-имитатор «onePRO FILIPPOV» Ø37 «onePRO FILIPPOV» Ø37
                                    ._bottom-box
                                        ._price-box
                                            ._old-price от 16 800₽
                                            ._price от 14 150₽
                                        ._add-to-cart.js-open-picker
                                            +icon('cart')
                                    a(href="#")._link
                                        span Смотреть
                                        +icon('product-slider-arrow')
                                ._quick-view-toggle.js-quick-view Быстрый просмотр
                                    +icon('arrows-multiple')
                                .color-size-picker
                                    ._close.js-close
                                        +icon('cross')
                                    form
                                        ._box
                                            ._title Выберите цвет:
                                            ._items
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #e90000")
                                                    ._item-name Красный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #353535")
                                                    ._item-name Чёрный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #B0B0B0")
                                                    ._item-name Серый
                                                    input(type="radio" name="colors")
                                        ._box
                                            ._title Выберите размер:
                                            ._items
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 2кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 3кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 4кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 5кг / Ø25см
                                                    input(type="radio" name="sizes")
                                        .common-btn-wrapper-redesign
                                            button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                            .product-preview.swiper-slide
                                a(href="#")._img
                                    +picture('product-slider', 'png', 330, 360)
                                ._content
                                    ._top-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._favourite.js-active-toggle
                                            +icon('heart')
                                    ._middle-box
                                        ._assortment-item Размеры - 4
                                        ._assortment-item цвета - 3
                                    a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                    ._bottom-box
                                        ._price-box
                                            ._old-price от 16 800₽
                                            ._price от 14 150₽
                                        ._add-to-cart.js-open-picker
                                            +icon('cart')
                                    a(href="#")._link
                                        span Смотреть
                                        +icon('product-slider-arrow')
                                ._quick-view-toggle.js-quick-view Быстрый просмотр
                                    +icon('arrows-multiple')
                                .color-size-picker
                                    ._close.js-close
                                        +icon('cross')
                                    form
                                        ._box
                                            ._title Выберите цвет:
                                            ._items
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #e90000")
                                                    ._item-name Красный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #353535")
                                                    ._item-name Чёрный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #B0B0B0")
                                                    ._item-name Серый
                                                    input(type="radio" name="colors")
                                        ._box
                                            ._title Выберите размер:
                                            ._items
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 2кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 3кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 4кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 5кг / Ø25см
                                                    input(type="radio" name="sizes")
                                        .common-btn-wrapper-redesign
                                            button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                            .product-preview.swiper-slide
                                a(href="#")._img
                                    +picture('product-slider', 'png', 330, 360)
                                ._content
                                    ._top-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._favourite.js-active-toggle
                                            +icon('heart')
                                    ._middle-box
                                        ._assortment-item Размеры - 4
                                        ._assortment-item цвета - 3
                                    a(href="#")._title Напольный мешок-имитатор «onePRO FILIPPOV» Ø37
                                    ._bottom-box
                                        ._price-box
                                            ._old-price от 16 800₽
                                            ._price от 14 150₽
                                        ._add-to-cart.js-open-picker
                                            +icon('cart')
                                    a(href="#")._link
                                        span Смотреть
                                        +icon('product-slider-arrow')
                                ._quick-view-toggle.js-quick-view Быстрый просмотр
                                    +icon('arrows-multiple')
                                .color-size-picker
                                    ._close.js-close
                                        +icon('cross')
                                    form
                                        ._box
                                            ._title Выберите цвет:
                                            ._items
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #e90000")
                                                    ._item-name Красный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #353535")
                                                    ._item-name Чёрный
                                                    input(type="radio" name="colors")
                                                label._color.js-only-active-toggle
                                                    ._color-circle(style="background-color: #B0B0B0")
                                                    ._item-name Серый
                                                    input(type="radio" name="colors")
                                        ._box
                                            ._title Выберите размер:
                                            ._items
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 2кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 3кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 4кг / Ø25см
                                                    input(type="radio" name="sizes")
                                                label._size.js-only-active-toggle
                                                    ._size-cb-dummy
                                                    ._item-name 5кг / Ø25см
                                                    input(type="radio" name="sizes")
                                        .common-btn-wrapper-redesign
                                            button(type="submit").common-btn-redesign.-yellow.-center.js-add-to-cart В корзину
                        ._arrow.-prev
                            +icon('slider-arrow')
                        ._arrow.-next
                            +icon('slider-arrow')
        section.category-testimonials
            ._container.container
                ._title-box
                    ._qty 78 отзывов
                    h2.h2.-white Отзывы: боксерские мешки
                .testimonials
                    .testimonial
                        ._bg-gradient
                        ._inner
                            ._left-box
                                ._top-box
                                    ._top-subbox
                                        ._date 24 июня 2021
                                        ._main-tag.-yellow Новый
                                    ._top-subbox
                                        ._name Илья
                                        ._city
                                            +icon('city')
                                            ._city-name Москва
                                ._voice-box
                                    audio(src="data/testimonial.mp3" controls controlsList="nodownload noplaybackrate" preload="none")
                                ._content-box.-product
                                    ._subtitle Отзыв о товаре
                                    ._products
                                        a(href="#")._product Лапы профессиональные изогнутые onePRO FILIPPOV
                                        a(href="#")._product Лапы профессиональные изогнутые onePRO FILIPPOV
                                ._content-box
                                    ._subtitle Впечатления
                                    .tags
                                        ._tag Высокое качество &#11088;
                                        ._tag Крутой дизайн
                                        ._tag Общение с менеджером &#128077;
                                        ._tag Крутой дизайн
                                        ._tag Общение с менеджером &#128077;
                                        ._tag Высокое качество &#11088;
                                ._content-box
                                    ._subtitle Фото и видео
                                    ._gallery.js-swipe-scroll
                                        ._gallery-item
                                            +pictureFancybox('testimonial-1', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item.-video
                                            +videoFancybox('testimonial-1', 'mp4', 'testimonial-2', 'png', 176, 132, 'testimonial-1', true)
                                        ._gallery-item
                                            +pictureFancybox('testimonial-3', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-1', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-3', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-1', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-3', 'png', 176, 132, 'testimonial-1')
                            ._right-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._rm-additional-wrapper.js-read-more-additional-wrapper
                                    ._text-box.read-more-wrapper.js-read-more-wrapper
                                        ._text.read-more-container.js-read-more-container Тренировки стали значительно звонче, работаем по очереди. Качество огонь, в меру мягкие, но и не жесткие. Кожа лучше чем у меня на кроссовках, а кроссы между прочим New Balance, отдельное спасибо за быструю доставку. Отличные лапы. Самый известный текст-«рыба», называемый Lorem ipsum, имеет свои корни в 16-том веке. Lorem ipsum был создан на псевдо-латыни, которая приблизительно соответствует настоящей латыни. Этот текст содержит ряд настоящих латинских слов. Как и большинство других текстов, Lorem ipsum не имеет смысла, а лишь имитирует ритм большинства европейских языков использующих латиницу. Латинское происхождение и относительная бессмысленность текста Lorem ipsum хороши тем, что не привлекают к себе внимания и не отвлекают от дизайна.
                                    ._rm-toggle.read-more-toggle.js-read-more-toggle Показать еще
                                ._answer-box
                                    ._answer-toggle.js-answer-toggle
                                        +icon('answer')
                                        | Смотреть ответ
                                    ._answer
                                        ._answer-text Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам) Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам) Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам) Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам)
                                        ._answerer С уважением, команда FILIPPOV DYNASTY
                                ._quotes “
                    .testimonial
                        ._bg-gradient
                        ._inner
                            ._left-box
                                ._top-box
                                    ._top-subbox
                                        ._date 24 июня 2021
                                        ._main-tag.-yellow Новый
                                    ._top-subbox
                                        ._name Илья
                                        ._city
                                            +icon('city')
                                            ._city-name Москва
                                ._voice-box
                                    audio(src="data/testimonial.mp3" controls controlsList="nodownload noplaybackrate" preload="none")
                                ._content-box.-product
                                    ._subtitle Отзыв о товаре
                                    ._products
                                        a(href="#")._product Лапы профессиональные изогнутые onePRO FILIPPOV
                                        a(href="#")._product Лапы профессиональные изогнутые onePRO FILIPPOV
                                ._content-box
                                    ._subtitle Впечатления
                                    .tags
                                        ._tag Высокое качество &#11088;
                                        ._tag Крутой дизайн
                                        ._tag Общение с менеджером &#128077;
                                        ._tag Крутой дизайн
                                        ._tag Общение с менеджером &#128077;
                                        ._tag Высокое качество &#11088;
                                ._content-box
                                    ._subtitle Фото и видео
                                    ._gallery.js-swipe-scroll
                                        ._gallery-item
                                            +pictureFancybox('testimonial-1', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item.-video
                                            +videoFancybox('testimonial-1', 'mp4', 'testimonial-2', 'png', 176, 132, 'testimonial-1', true)
                                        ._gallery-item
                                            +pictureFancybox('testimonial-3', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-1', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-3', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-1', 'png', 176, 132, 'testimonial-1')
                                        ._gallery-item
                                            +pictureFancybox('testimonial-3', 'png', 176, 132, 'testimonial-1')
                            ._right-box
                                .rating-box
                                    .rating-stars.js-stars(data-rating="4.6")
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                        ._star
                                            +icon('empty-star')
                                    ._rating 4.6
                                ._rm-additional-wrapper.js-read-more-additional-wrapper
                                    ._text-box.read-more-wrapper.js-read-more-wrapper
                                        ._text.read-more-container.js-read-more-container Тренировки стали значительно звонче, работаем по очереди. Качество огонь, в меру мягкие, но и не жесткие. Кожа лучше чем у меня на кроссовках, а кроссы между прочим New Balance, отдельное спасибо за быструю доставку. Отличные лапы. Самый известный текст-«рыба», называемый Lorem ipsum, имеет свои корни в 16-том веке. Lorem ipsum был создан на псевдо-латыни, которая приблизительно соответствует настоящей латыни. Этот текст содержит ряд настоящих латинских слов. Как и большинство других текстов, Lorem ipsum не имеет смысла, а лишь имитирует ритм большинства европейских языков использующих латиницу. Латинское происхождение и относительная бессмысленность текста Lorem ipsum хороши тем, что не привлекают к себе внимания и не отвлекают от дизайна.
                                    ._rm-toggle.read-more-toggle.js-read-more-toggle Показать еще
                                ._answer-box
                                    ._answer-toggle.js-answer-toggle
                                        +icon('answer')
                                        | Смотреть ответ
                                    ._answer
                                        ._answer-text Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам) Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам) Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам) Добрый день, Андрей. Спасибо за ваш отзыв. Удачи и спортивных побед вашим юным чемпионам)
                                        ._answerer С уважением, команда FILIPPOV DYNASTY
                                ._quotes “
                ._common-btn-wrapper-redesign.common-btn-wrapper-redesign
                    a(href="#")._link
                        +icon('answer')
                        | Читать все отзывы о FILIPPOV DYNASTY
                    button(type="submit").common-btn-redesign.-white.-center Показать еще
        section.category-callback
            ._container.container
                .callback
                    ._bg
                        +pictureAdaptive('gradient-bg', 'png', 1322, 218)
                    ._content
                        .h2.-center.-white заказать консультацию менеджера
                        ._form-wrapper
                            form
                                .form-box
                                    input(type="tel" placeholder="Номер телефона").input
                                    button(type="submit" data-modal="#modal-common").common-btn-redesign.-yellow.js-open-modal Заказать звонок
                                +form-group-checkbox-allow('cb1', 'Согласие на обработку <a href="#">персональных данных</a>', false, true, 'checkbox-allow', 'label-allow')
        section.showrooms
            ._contacts
                ._container.container
                    ._items
                        ._item
                            ._title-box
                                +icon('point')
                                ._item-title офис продаж и шоурум в&nbsp;г.&nbsp;Москва
                            a(href="tel:84996480223")._phone 8 (499) 648 02 23
                            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                            ._address г.&nbsp;Москва, ул.&nbsp;5-я кабельная, д.2, ТРК “Спортех” (м.&nbsp;Авиамоторная&nbsp;и&nbsp;МЦК&nbsp;/&nbsp;Нижегородская)
                            ._working-hours Время работы: #[span.txt-orange по звонку]
                        ._item
                            ._title-box
                                +icon('point')
                                ._item-title Спортивный магазин-шоурум в&nbsp;г.пятигорск
                            a(href="tel:84996480223")._phone 8 (499) 648 02 23
                            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                            ._address Ставропольский край, г.&nbsp;Пятигорск, ул.&nbsp;Бунимовича,&nbsp;7 (ТЦ Планета)
                            ._working-hours Время работы: #[span.txt-orange по звонку]
                        ._item
                            ._title-box
                                +icon('point')
                                ._item-title склад в г.Москва
                            a(href="tel:84996480223")._phone 8 (499) 648 02 23
                            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                            ._address г.&nbsp;Москва, ул.&nbsp;5-я кабельная, д.2, ТРК “Спортех” (м.&nbsp;Авиамоторная&nbsp;и&nbsp;МЦК&nbsp;/&nbsp;Нижегородская)
                            ._working-hours Время работы: #[span.txt-orange по звонку]
        section.shipment-destinations
            ._container.container
                h2.h2.-white Куда мы доставляем товары
                ._box
                    ._countries
                        ._country Россия
                        ._country Беларусь
                        ._country Казахстан
                        ._country Армения
                        ._country Таджикистан
                        ._country Узбекистан
                        ._country Киргизия
                        ._country Страны Европы
                    ._cities
                        a._city(href='#') Санкт-Петербург
                            a._city(href='#') Казань
                            a._city(href='#') Екатеринбург
                            a._city(href='#') Челябинск
                            a._city(href='#') Ростов-на-Дону
                            a._city(href='#') Пермь
                            a._city(href='#') Новосибирск
                            a._city(href='#') Нижний Новгород
                            a._city(href='#') Краснодар
                            a._city(href='#') Минск
                            a._city(href='#') Алма-Ата
                            a._city(href='#') Уфа
                            a._city(href='#') Волгоград
                            a._city(href='#') Воронеж
                            a._city(href='#') Владивосток
                            a._city(href='#') Калининград
                            a._city(href='#') Красноярск
                            a._city(href='#') Ставрополь
                            a._city(href='#') Ереван
                            a._city(href='#') Нур-Султан
                .common-btn-wrapper-redesign
                    a(href="#").common-btn-redesign.-center Все города
        section.seo
            ._container.container
                .typography
                    h3.h3 Боксерские мешки от производителя FILIPPOV
                    p Оптимальным вариантом многих тренировок является боксерский мешок, подобранный в соответствии с задачами, стоящими перед бойцом. В разделе представлен обширный ассортимент продукции, которой может воспользоваться как неопытный любитель, так и профессиональный спортсмен с высоким уровнем подготовки.
                    .highlight Оптимальным вариантом многих тренировок является боксерский мешок, подобранный в соответствии с задачами, стоящими перед бойцом. В разделе представлен обширный ассортимент продукции, которой может воспользоваться как неопытный любитель, так и профессиональный спортсмен с высоким уровнем подготовки.
                    h3.h3 Как выбрать боксерский мешок?
                    p Выбирать боксерский мешок необходимо исходя из его веса, размера и наполнения. Легкие экземпляры, вес которых составляет всего 40-50 кг идеально подходят для того, чтобы оттачивать одновременно с техникой удара быстрое маневрирование. Легкая модельная линейка не годится для постановки мощных ударов в процессе тренировки.
                    p Компромиссной моделью способен стать  мешок, весом около 50-70 кг. и размером 130-180см. Он позволяет отрабатывать маневрирование с одновременной отработкой ударов. Если же есть необходимость выкладываться полностью, есть смысл брать мешок, вес которых превышает 80 кг. Подбор по высоте необходимо вести исходя из того, какие именно удары вы будете наносить.
                    .colored Оптимальным вариантом многих тренировок является боксерский мешок, подобранный в соответствии с задачами, стоящими перед бойцом. В разделе представлен обширный ассортимент продукции, которой может воспользоваться как неопытный любитель, так и профессиональный спортсмен с высоким уровнем подготовки.