.modal.-common#modal-common
    ._body
        ._close.js-close-modal
            +icon('cross')
        ._content
            ._title.h2.h2--center Ваша заявка принята.
            ._text Ожидайте звонок менеджера.
            .common-btn-wrapper-redesign
                .common-btn-redesign.-yellow.-center.js-close-modal ЗАКРЫТЬ