.modal.-common.-common-black#modal-common-black
    ._body
        ._close.js-close-modal
            +icon('cross')
        ._content
            ._title.h2.h2--center СПАСИБО!
            ._text Ваша заявка отправлена. Ждите звонок менеджера.
            .common-btn-wrapper-redesign
                .common-btn-redesign.-yellow.-center.js-close-modal ЗАКРЫТЬ