.modal.-credit#modal-credit
    ._body
        ._close.js-close-modal
            +icon('cross')
        ._content
            .h3 Быстрая заявка на&nbsp;рассрочку
            ._text Подробно расскажем об условиях и ответим на все вопросы
            form
                +form-group('text', 'mc1', '', true, 'input', '', 'Как вас зовут?')
                +form-group('tel', 'mc2', '', true, 'input', '', 'Номер телефона')
                ._form-text Срок рассрочки
                ._periods
                    ._periods-item
                        input(type="radio" name="mcr" id="mcr1")
                        label(for="mcr1") 4 месяца
                    ._periods-item
                        input(type="radio" name="mcr" id="mcr2")
                        label(for="mcr2") 6 месяцев
                    ._periods-item
                        input(type="radio" name="mcr" id="mcr3")
                        label(for="mcr3") Индивидуальный расчет
                button(type="submit").common-btn-redesign.-yellow.-with-icon Оставить заявку
                    +icon('arrows-multiple')
                +form-group-checkbox-allow('cb1', 'Согласие на обработку <a href="#">персональных данных</a>', false, true, 'checkbox-allow', 'label-allow')