.modal.-for-coaches#modal-for-coaches
    ._body
        ._close.js-close-modal
            +icon('cross')
        ._content
            ._title Получите тренерскую скидку или специальную цену за&nbsp;отзыв о наших товарах
            ._text Специальная цена действует для размещения в аккаунте с количеством подписчиков — от 15 тысяч.
            ._subtext Узнайте подробности по телефону у наших менеджеров:
            a(href="tel:84996819103")._phone 8 (499) 681-91-03
            a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru