.modal.-quick-view#modal-quick-view
    ._body
        ._close.js-close-modal
            +icon('cross')
        ._content
            .product-card-main
                ._container.container
                    ._inner
                        ._gallery
                            ._gallery-box
                                ._thumb-slider-qty
                                    span Фото: 5
                                ._thumb-slider-box
                                    ._thumbs-slider.js-product-thumbs-slider-modal
                                        ._thumbs-slider-wrapper.swiper-wrapper
                                            //._thumb-slide.-video.swiper-slide
                                            //    +picture('thumbs-slide-1', 'png', 114, 102)
                                            //    .play-btn
                                            //        +icon('play-btn')
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-2', 'png', 114, 102)
                                            //._thumb-slide.-video.swiper-slide
                                            //    +picture('thumbs-slide-3', 'png', 114, 102)
                                            //    .play-btn
                                            //        +icon('play-btn')
                                            //._thumb-slide.-video.swiper-slide
                                            //    +picture('thumbs-slide-3', 'png', 114, 102)
                                            //    .play-btn
                                            //        +icon('play-btn')
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-1', 'png', 114, 102)
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-2', 'png', 114, 102)
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-1', 'png', 114, 102)
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-2', 'png', 114, 102)
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-1', 'png', 114, 102)
                                            ._thumb-slide.swiper-slide
                                                +picture('thumbs-slide-2', 'png', 114, 102)
                                    ._arrow.-prev
                                        +icon('slider-arrow')
                                    ._arrow.-next
                                        +icon('slider-arrow')
                            ._main-slider.js-product-main-slider-modal
                                ._main-slider-wrapper.swiper-wrapper
                                    //._main-slide.swiper-slide
                                    //    a(href='video/first-video.mp4' data-fancybox='product-slider-1')
                                    //        video.product-first-video(src='video/first-video.mp4' autoplay muted loop playsinline)
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                                    //._main-slide.swiper-slide
                                    //    +videoFancyboxYT('https://youtu.be/xUwe_uN9l5o', 'https://img.youtube.com/vi/xUwe_uN9l5o/0.jpg', 586, 551, 'product-slider-1', true)
                                    //._main-slide.swiper-slide
                                    //    +videoFancyboxYT('https://youtu.be/xUwe_uN9l5o', 'https://img.youtube.com/vi/xUwe_uN9l5o/0.jpg', 586, 551, 'product-slider-1', true)
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                                    ._main-slide.swiper-slide
                                        +pictureFancybox('main-slide-1', 'png', 586, 551, 'product-slider-1')
                        ._content
                            ._product-number-box
                                ._product-number Артикул: 4958594
                                ._in-stock в наличии
                            h1._name Напольный боксерский мешок onePRO FILIPPOV Ø37
                            ._inner-container
                                ._info-box
                                    ._rating-testimonials-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._info-box-testimonials
                                            span На основе
                                            a(href="#")._info-box-testimonials-link.js-scroll-to
                                                +icon('answer')
                                                span 4 отзывов
                                    ._properties
                                        ._box
                                            ._property Материал:
                                            ._property-value Кожа
                                        ._box
                                            ._property Наполнение:
                                            ._property-value Лоскут
                                        ._box
                                            ._property Диаметр:
                                            ._property-value 50
                                    ._price-box
                                        ._price-old 29 190 ₽
                                        ._price от 29 190 ₽
                                        ._credit-box
                                            span Удобная оплата частями
                                            ._credit-box-price.js-open-modal(data-modal="#modal-credit") от 1 122 ₽/мес
                                ._info-box
                                    ._rating-testimonials-box
                                        .rating-box
                                            .rating-stars.js-stars(data-rating="4.6")
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                                ._star
                                                    +icon('empty-star')
                                            ._rating 4.6
                                        ._info-box-testimonials
                                            span На основе
                                            a(href="#")._info-box-testimonials-link.js-scroll-to
                                                +icon('answer')
                                                span 4 отзывов
                                    ._properties
                                        ._box
                                            ._property Материал:
                                            ._property-value Кожа
                                        ._box
                                            ._property Наполнение:
                                            ._property-value Лоскут
                                        ._box
                                            ._property Диаметр:
                                            ._property-value 50
                                    ._price-box
                                        ._price-old 29 190 ₽
                                        ._price от 29 190 ₽
                                        ._sale скидка 15%
                                form
                                    ._subtitle Цвета
                                    ._colors
                                        ._color
                                            input(type="radio" name="colors" id="pc1")
                                            label(for="pc1" style="background-color: #3450e4")
                                        ._color
                                            input(type="radio" name="colors" id="pc2")
                                            label(for="pc2" style="background-color: #ff0011")
                                        ._color
                                            input(type="radio" name="colors" id="pc3")
                                            label(for="pc3" style="background-color: #000")
                                        ._color
                                            input(type="radio" name="colors" id="pc4")
                                            label(for="pc4" style="background-color: #7D7777")
                                        ._color
                                            input(type="radio" name="colors" id="pc5")
                                            label(for="pc5" style="background-color: #306678")
                                    ._subtitle Размеры
                                    ._sizes
                                        ._size-item
                                            input(type="radio" name="sizes" id="ps1")
                                            label(for="ps1")
                                                ._size-star
                                                ._size-values 140 см / 37 см / 60 кг
                                                ._size-sale -15%
                                                ._size-old-price 32 600₽
                                                ._size-price 29 990 ₽
                                        ._size-item
                                            input(type="radio" name="sizes" id="ps2")
                                            label(for="ps2")
                                                ._size-star
                                                    +icon('empty-star')
                                                ._size-values 140 см / 37 см / 60 кг
                                                ._size-credit от 1 122 руб./мес
                                                ._size-price 29 990 ₽
                                        ._size-item
                                            input(type="radio" name="sizes" id="ps3")
                                            label(for="ps3")
                                                ._size-star
                                                ._size-values 140 см / 37 см / 60 кг
                                                ._size-price 29 990 ₽
                                    a(href="" type="submit")._to-cart.js-product-card-cart
                                        span Добавить в корзину
                                        +icon('arrows-multiple')
                                ._btn-box
                                    ._one-click.js-open-modal(data-modal="#modal-quick-order") Заказать в 1 клик
                                        +icon('cursor')
                                    ._btn-box-inner
                                        ._to-favourite.js-active-toggle
                                            +icon('heart')
                                        ._share.ya-share2(data-curtain data-color-scheme="blackwhite" data-limit="0" data-more-button-type="short" data-services="whatsapp,telegram,facebook,skype,viber,vkontakte" data-popup-direction="auto")
                    .common-btn-wrapper-redesign
                        a(href="#").common-btn-redesign.-center Подробнее о товаре