.catalog-menu
    ._container.container
        ._inner
            ._box
                nav._nav
                    ._nav-box
                        ._nav-item.-submenu.js-catalog-submenu-toggle
                            a(href="#")._nav-item-link СНАРЯДЫ ДЛЯ ОТРАБОТКИ УДАРОВ
                                +icon('arrows-multiple')
                            ._submenu-box.opened
                                nav._submenu-nav
                                    ._nav-submenu-item.-submenu.js-catalog-submenu-toggle
                                        a(href="#")._nav-submenu-item-link Борцовские манекены #[span.catalog-menu__nav-submenu-item-qty 107]
                                            +icon('arrow-down')
                                        ._submenu-box.-lvl-2
                                            nav._submenu-nav
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Детские боксерские мешки и груши с длинным названием #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item.-submenu
                                                    a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские груши #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item.-submenu
                                                    a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские груши #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item.-submenu
                                                    a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские груши #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item
                                                    a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.catalog-menu__nav-submenu-item-qty 107]
                                                ._nav-submenu-item.-submenu
                                                    a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]




                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские груши #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]

                        ._nav-item.-submenu.js-catalog-submenu-toggle
                            a(href="#")._nav-item-link СНАРЯДЫ УТЯЖЕЛИТЕЛИ
                                +icon('arrows-multiple')
                            ._submenu-box
                                nav._submenu
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Борцовские манекены #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские груши #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.catalog-menu__nav-submenu-item-qty 107]
                        ._nav-item.-submenu.js-catalog-submenu-toggle
                            a(href="#")._nav-item-link ОДЕЖДА И ЭКИПИРОВКА
                                +icon('arrows-multiple')
                            ._submenu-box
                                nav._submenu
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Борцовские манекены #[span.catalog-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские груши #[span.catalog-menu__nav-submenu-item-qty 107]
                        ._nav-item
                            a(href="#")._nav-item-link КРОНШТЕЙНЫ | СТОЙКИ | КОМПЛЕКТУЮЩИЕ
                        ._nav-item
                            a(href="#")._nav-item-link ТУРНИКИ | КАНАТЫ | ПЛИОБОКСЫ
                        ._nav-item
                            a(href="#")._nav-item-link НАПОЛЬНЫЕ ПОКРЫТИЯ
                    ._nav-box
                        ._nav-item.-submenu.-with-icon.js-catalog-submenu-toggle
                            a(href="#")._nav-item-link.-with-icon СЕРИИ FILIPPOV DYNASTY
                                +icon('f-logo')
                            ._submenu-box.-lg
                                ._series-wrapper
                                    ._series
                                        a(href="#")._series-item
                                            ._item-img
                                                +pictureNoWebp('series-1c', 'svg')
                                        a(href="#")._series-item
                                            ._item-img
                                                +pictureNoWebp('series-2c', 'svg')
                                        a(href="#")._series-item
                                            ._item-img
                                                +pictureNoWebp('series-3c', 'svg')
                                        a(href="#")._series-item
                                            ._item-img
                                                +pictureNoWebp('series-4c', 'svg')
                                        a(href="#")._series-item
                                            ._item-img
                                                +pictureNoWebp('series-5c', 'svg')
                                        a(href="#")._series-item
                                            ._item-img
                                                +pictureNoWebp('series-6c', 'svg')
                        ._nav-item.-submenu.js-catalog-submenu-toggle
                            a(href="#")._nav-item-link ПРЕЗЕНТАЦИЯ РАЗРАБОТОК
                            ._submenu-box.-lg
                                ._banners.js-swipe-scroll
                                    a(href="#")._banner
                                        ._banner-bg
                                            +pictureAdaptive('catalog-menu-banner-1', 'png', 722, 253)
                                        ._banner-content
                                            ._banner-title Спарринг-партнер FILIPPOV ®
                                    a(href="#")._banner
                                        ._banner-bg
                                            +pictureAdaptive('catalog-menu-banner-2', 'png', 722, 253)
                                        ._banner-content
                                            ._banner-title Спарринг-партнер FILIPPOV ®
                                            ._banner-highlight Громкая премьера 2021 года
                                            ._banner-subtitle на HARDCORE MMA
                                    a(href="#")._banner
                                        ._banner-bg
                                            +pictureAdaptive('catalog-menu-banner-1', 'png', 722, 253)
                                        ._banner-content
                                            ._banner-title Спарринг-партнер FILIPPOV ®
                                    a(href="#")._banner
                                        ._banner-bg
                                            +pictureAdaptive('catalog-menu-banner-2', 'png', 722, 253)
                                        ._banner-content
                                            ._banner-title Спарринг-партнер FILIPPOV ®
                                            ._banner-highlight Громкая премьера 2021 года
                                            ._banner-subtitle на HARDCORE MMA
                    ._nav-box
                        ._nav-item
                            a(href="#")._nav-item-link.-orange SALE
                        ._nav-item
                            a(href="#")._nav-item-link OUTLET
                a(href="#")._btn На страницу каталога
                    +icon('arrow-down')