footer.footer
    ._container.container
        ._inner
            ._top
                ._top-box
                    ._logo
                        +icon('logo')
                    ._descriptor интернет-магазин фабрики профессионального спортивного оборудования
                    a(href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=dynamic.150x101/*https://market.yandex.ru/shop--filippov-dynasty/610532/reviews")._rating
                        +picture('footer-rating', 'png', 150, 101)
                ._top-box.-subbox
                    ._top-subbox
                        nav._nav
                            ._nav-title.js-accordion-toggle.active СНАРЯДЫ ДЛЯ ОТРАБОТКИ УДАРОВ
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                        nav._nav
                            ._nav-title.js-accordion-toggle.active СНАРЯДЫ УТЯЖЕЛИТЕЛИ
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                                a(href="#")._nav-more Смотреть все
                                    +icon('arrow-down')
                        nav._nav
                            ._nav-title.js-accordion-toggle.active КРОНШТЕЙНЫ | СТОЙКИ | КОМПЛЕКТУЮЩИЕ
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                                a(href="#")._nav-more Смотреть все
                                    +icon('arrow-down')
                    ._top-subbox
                        nav._nav
                            ._nav-title.js-accordion-toggle.active ОДЕЖДА И ЭКИПИРОВКА
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                                a(href="#")._nav-more Смотреть все
                                    +icon('arrow-down')
                        nav._nav
                            ._nav-title.js-accordion-toggle.active ТУРНИКИ | КАНАТЫ | ПЛИОБОКСЫ
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                                a(href="#")._nav-more Смотреть все
                                    +icon('arrow-down')
                    ._top-subbox
                        nav._nav
                            ._nav-title.js-accordion-toggle.active НАПОЛЬНЫЕ ПОКРЫТИЯ
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                        nav._nav
                            ._nav-title.js-accordion-toggle.active СЕРИИ FILIPPOV DYNASTY
                            ._nav-items.js-accordion-content.opened
                                a(href="#")._nav-item Боксерские мешки
                                a(href="#")._nav-item Борцовские манекены
                                a(href="#")._nav-item Боксёрские груши
                                a(href="#")._nav-item Боксёрские подушки
                                a(href="#")._nav-more Смотреть все
                                    +icon('arrow-down')
                        nav._nav
                            a(href="#")._nav-title ПРЕЗЕНТАЦИЯ РАЗРАБОТОК
                ._top-box.-last
                    ._contact-box
                        ._contacts-title Контакты
                        a(href="tel:84996819103")._phone 8 (499) 681-91-03
                        a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
                    ._top-box-inner
                        ._payment-types
                            ._payment-types-item
                                +icon('visa')
                            ._payment-types-item
                                +icon('mastercard')
                            ._payment-types-item
                                +icon('paypal')
                        nav._subnav
                            a(href="#")._subnav-item Доставка
                            a(href="#")._subnav-item Рассрочка, Долями
                            a(href="#")._subnav-item Гарантия, возврат и обмен
            ._middle
                ._middle-box
                    ._showroom
                        ._showroom-title Магазин-шоурум в г. Москва:
                        ._showroom-text ТРК «СпортEX», ул. 5-я Кабельная, д. 2 (м.Авиамоторная и МЦК / Нижегородская)
                        ._showroom-working-hours Время работы: #[span.txt-orange по звонку]
                ._middle-box
                    ._showroom
                        ._showroom-title Магазин-шоурум в г. Пятигорск
                        ._showroom-text ТЦ «Планета», ул. Бунимовича, 7
                        ._showroom-working-hours Время работы: #[span.txt-orange Пн.—Пт. с&nbsp;9:00 до 18:00]
            ._bottom
                ._copywrite © FILIPPOV DYNASTY, 2022
                ._policies
                    a(href="#")._policy Пользовательское соглашение
                    span |
                    a(href="#")._policy Политика конфиденциальности
