.mobile-menu
    ._body
        ._top-box
            nav._nav
                ._nav-box
                    ._nav-item
                        a(href="#")._nav-item-link СНАРЯДЫ ДЛЯ ОТРАБОТКИ УДАРОВ
                    ._nav-item.-submenu
                        a(href="#")._nav-item-link СНАРЯДЫ УТЯЖЕЛИТЕЛИ
                            ._nav-item-link-submenu-toggle.js-submenu-toggle
                                +icon('mobile-menu-arrow')

                        nav._nav-submenu.js-submenu
                            ._nav-submenu-item.-submenu
                                a(href="#")._nav-submenu-item-link Боксерские мешки #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-item-link-submenu-toggle.js-submenu-toggle
                                        +icon('mobile-menu-arrow')
                                nav._nav-submenu.-second-lvl.js-submenu
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Борцовские манекены #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские груши #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item.-submenu
                                        a(href="#")._nav-submenu-item-link Боксерские мешки #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Борцовские манекены #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские груши #[span.mobile-menu__nav-submenu-item-qty 107]
                                    ._nav-submenu-item
                                        a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.mobile-menu__nav-submenu-item-qty 107]

                            ._nav-submenu-item
                                a(href="#")._nav-submenu-item-link Борцовские манекены #[span.mobile-menu__nav-submenu-item-qty 107]
                            ._nav-submenu-item
                                a(href="#")._nav-submenu-item-link Боксёрские груши #[span.mobile-menu__nav-submenu-item-qty 107]
                            ._nav-submenu-item
                                a(href="#")._nav-submenu-item-link Боксёрские подушки #[span.mobile-menu__nav-submenu-item-qty 107]
                    ._nav-item
                        a(href="#")._nav-item-link ОДЕЖДА И ЭКИПИРОВКА
                    ._nav-item
                        a(href="#")._nav-item-link КРОНШТЕЙНЫ | СТОЙКИ | КОМПЛЕКТУЮЩИЕ
                    ._nav-item
                        a(href="#")._nav-item-link ТУРНИКИ | КАНАТЫ | ПЛИОБОКСЫ
                    ._nav-item
                        a(href="#")._nav-item-link НАПОЛЬНЫЕ ПОКРЫТИЯ
                ._nav-box
                    ._nav-item
                        a(href="#")._nav-item-link.-with-icon СЕРИИ FILIPPOV DYNASTY
                            +icon('logo-sm')
                    ._nav-item
                        a(href="#")._nav-item-link ПРЕЗЕНТАЦИЯ РАЗРАБОТОК
                ._nav-box
                    ._nav-item
                        a(href="#")._nav-item-link OUTLET
                    ._nav-item
                        a(href="#")._nav-item-link.-orange SALE
        ._bottom-box
            nav._nav
                a(href="#")._nav-item-secondary О фабрике
                a(href="#")._nav-item-secondary.-with-number
                    span Отзывы
                    sup._nav-item-secondary-subnumber 133
                a(href="#")._nav-item-secondary Блог
                a(href="#")._nav-item-secondary Наши работы
                a(href="#")._nav-item-secondary Оплата и доставка
                a(href="#")._nav-item-secondary Сотрудничество
                a(href="#")._nav-item-secondary.-with-icon
                    +icon('gift')
                    span Подарки Filippov
                a(href="#")._nav-item-secondary Контакты
            ._contact-box
                a(href="tel:84996819103")._phone 8 (499) 681-91-03
                a(href="mailto:sales@filippov-dynasty.ru")._mail sales@filippov-dynasty.ru
            ._account-links
                a(href="#")._account-link Вход
                span |
                a(href="#")._account-link Регистрация