section.series.common-section
    ._bg
        +pictureAdaptive('gradient-bg', 'png', 1440, 242)
    ._container.container
        h2.h2.-white Серии filippov dynasty
        ._items.js-swipe-scroll
            a(href="#")._item
                ._item-bg
                    +picture('series-1', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-1', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-2', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-2', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-3', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-3', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-4', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-4', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-5', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-5', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-1', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-1', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-2', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-2', 'svg')
            a(href="#")._item
                ._item-bg
                    +picture('series-3', 'png', 265, 177)
                ._title-box
                    +pictureNoWebp('series-3', 'svg')