.top-promo(style="background: linear-gradient(90deg, #CF6E2B 20%, #306678 90%)")
    ._container.container
        ._box
            ._close.js-close-promo
                +icon('cross')
            ._text Реактивная груша и детские манекены со&nbsp;скидкой 15% до конца мая!