$black: #000;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
$template-black: #0c131b;
$mild-orange: #ffac72;
$template-orange: #cf6e2b;
$template-blue: #306678;
$template-dark-blue: #131d28;
$template-light-blue: #e8f0f3;
$template-dark-gray: #272727;
$template-medium-gray: #818181;
$template-light-gray: #a8a8a8;
$template-yellow: #f4dd99;
$orange-gradient: linear-gradient(270deg, #ffb887 20%, #ffde7d 90%);
$border-gray: #e5e5e5;